.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 10%;
  height: auto;
}

.book {
  width: 250px;
  border: 1px solid white;
  margin: 25px;
  border-radius: 5px;
  padding: 10px 10px 10px 10px;
}

.cover {
  border: 2px solid gray;
  height: 300px;
}

.cover img {
  width: 100%;
  height: 100%;
}

.description {
  margin-top: 12px;
  text-align: center;
}

.description span.title {
  margin-top: 12px;
  font-size: 30px;
  color: white;
  font-family: "Times New Roman", Times, serif;
}

.description span.author {
  margin-top: 12px;
  font-size: 22px;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.book .author {
  font-size: 18px;
}

h1 {
  color: gray;
  text-align: center;
  font-size: 50px;
  margin-bottom: -3px;
}

.assign {
  text-align: center;
  margin-top: 15px;
}

.assign-btn:disabled {
  background-color: gray;
  cursor: default;
}

.assign-btn {
  padding: 5px 20px;
  font-size: 16px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.assign-btn:not([disabled]):hover {
  outline: none;
  background-color: lightgreen;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
