header {
  width: 100%;
  padding: 20px 5%;
  /* background: transparent; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f242d;
}

.logo {
  font-size: 30px;
  color: white;
  text-decoration: none;
  font-weight: 600;
  cursor: default;
  opacity: 0;
  animation: slideRight 1s ease forwards;
}

nav a,
nav button {
  font-size: 18px;
  color: white;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: 0.3s;
  margin-bottom: 50px;
  position: relative;
}

.nav a:disabled {
  cursor: default;
}

nav {
  display: flex;
  gap: 50px;
  align-items: center;
}

nav a.active {
  color: #0ef;
}

@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.active::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  border-bottom: 2px solid;
}

nav button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  padding: 0;
}

#cart-count {
  color: white;
  font-size: 20px;
}


.bx {
  font-size: 25px;
  vertical-align: middle;
  font-size: 25px;
  margin-bottom: 5px;
}

nav a:hover {
  color: #0ef;
}

#profile-pic {
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
  width: 50px;
  height: 50px;
  margin-left: 30px;
}

.cart-link {
  position: relative;
}

.badge {
  position: absolute;
  top: -12px;
  right: -7px;
  background-color: lightcoral;
  color: white;
  border-radius: 50%;
  padding: 4px 8px;
  font-size: 12px;
}